

@media(min-width: 768px){

body{
    background-color: rgb(210, 250, 237);
    font-family: 'Vollkorn', serif;
    display: grid;
    grid-template-columns: 70px repeat(2, 1fr);
    grid-template-rows: 150px 1fr 100px;
            /* can use minmax and can use explicit and implicit rows/columns in same grid */
    grid-gap: 5px;
    height: 100vh;
}
header,
.sideBar,
main,
footer {
    border:dashed 2px olivedrab;
}
header {
    grid-column: 1/4;
    display: inline-block;
}
.sideBar {
    grid-column: 1/2;
    grid-row: 2/5;
}
main{
    grid-column: 2/4;    
    grid-row: 2/5;
}
footer {
    grid-column: 1/-1;
}

}