*{
    box-sizing: border-box;
}
    /* Container grid  style*/
.grid-container{ 
    background-color: rgb(249, 250, 202);
    font-family: 'Vollkorn', serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:  "header" "navigation" "main" "footer";
    justify-content:space-evenly;
}
.line {
    border-top: 3px solid #c5b202;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
  }
  .placeholder1{
      width:5px;
      height: 50px;
      background-color: rgb(177, 245, 245);
  }
  .placeholder2{
    width: 50px;
    height: 50px;
    background-color:  rgb(177, 245, 245);
  }
/* header style */
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #6dadbd;
    padding: 5px 20px;
}
    .logo {
        font-size: 1.1em;
        font-weight: 300;
        position: relative;
        cursor: pointer;
     }
.bell-icon {
    width: 20px;
    height:20px;
}
.member-image{
    width: 50px;
    height:50px;
}
/* .bell-icon, .member-image, #notifications{
    align-items: flex-end;
} */

/* Sidebar nav style */
.navigation{
    grid-area: navigation;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2px;
    background-color: #50d7f8;
}
.navigation img{
    width: 40px;
    height: 40px;
    margin: 2px 2px;
}
.alert{
    background-color: aquamarine;
    /* width: 20px; */
    height: 20px;
}
main{
    grid-area: main;
    background-color: rgb(169, 188, 189);
}
footer {
    grid-area: footer;
    background-color:  #9bb9c0;
}

    /* Media Query */
    @media (min-width: 768px) {
        .grid-container {
        grid-template-columns: 65px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
        }
    }
        
